h2,h3{
    margin: 15px;
}

h3{
    color: black;
}

#coluna1 h3{
    text-decoration: underline;
}

#coluna2 h3{
    font-style: italic;
}

#total{
    width: 980px; /* largura*/
    height: auto; /*altura*/
    margin: auto; /*centraliza a pagina*/
}

#topo{
    width: 980px;
    height: 100px;
    background-color: #666;
    float: left;
    margin-bottom: 10px;
}

#logo{
    margin-top: 30px; /*altera a margem de cima*/
    margin-left: 20px; /*altera a margem esquerda*/
    float: left;
}

#banner{
    width: 980px;
    height: 300px;
    background-image: url(banner.jpg);
    float: left;
    margin-bottom: 10px;
}

#conteudo{
    width: 590px;
    height: 350px;
    background-color: gray;
    float: left;
    overflow: auto; /* caso o conteúdo seja maior que o espaço da div, cria-se uma rolagem*/
}

#coluna1,#coluna2{
    width: 380px;
    height: 190px;
    background-color: green;
    float: right;
}

#coluna2{
    background-color:blue;
    margin-top: 10px;
}

#rodape{
    width: 980px;
    height:40px;
    background-color:red;
    float: left;
    margin-top: 10px;
}